@font-face {
    font-family: 'eve_alphabold';
    src: url('fonts/eve-webfont.eot');
    src: url('fonts/eve-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/eve-webfont.woff') format('woff'),
    url('fonts/eve-webfont.ttf') format('truetype'),
    url('fonts/eve-webfont.svg#eve_alphabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* latin */
@font-face {
    font-family: 'Electrolize';
    font-style: normal;
    font-weight: 400;
    src: local('Electrolize'), local('Electrolize-Regular'), url(https://fonts.gstatic.com/s/electrolize/v6/DDy9sgU2U7S4xAwH5thnJ44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
    height: 100%;
}

body {
    font: 12px/18px 'Electrolize';
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    color: #F5F5F5;
}

.container.whscan-main {
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: rgba(28, 28, 28, 0.7);
    position: relative;
    padding-bottom: 65px;
}

.wrap {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: transparent;
    position: relative;
}

a {
    color: #6495ED;
}
a:visited {
    color: #6495ED;
}
a:hover {
    color: #7B68EE;
}
a.active, a:hover  {
    text-decoration: none;
}

h1, h2, h5 {
    font-family: eve_alphabold, Helvetica;
}

h1 {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
    text-shadow: 2px 2px #111;
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 5px;
}

h3 {
    font-size: 22px;
    margin-bottom: 15px;
    font-family: 'Electrolize', Helvetica;
}

h4 {
    font-size: 16px;
    margin-bottom: 2px;
    font-family: 'Electrolize', Helvetica;
}

h5 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 15px;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 100px;
    background-color: #1C1C1C;
    /* width: 870px; */
    width: 100%;
    margin: 15px auto;
    position: relative;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: -327px -4px;
}

.header h1 {
    position: relative;
    top: 19px;
    margin-left: 110px;
}

.header a {
    display: block;
    position: relative;
    /*top:6px;
    left: 6px;*/
 /*   height:88px;
    width: 370px;*/
    border: none;
    text-decoration: none;
    color: #fff;
}

.header a:hover {
    text-decoration: none;
    color: #fff;
}

.header .title1, .header .title2, .header .red-string {
    font-family: eve_alphabold, Helvetica;
    position: absolute;
}

.header img {
    position: absolute;
    top: 1px;
    left: 4px;
}

.header .red-string {
    top: 46px;
    left: 110px;
    font-size: 100px;
    text-shadow: 2px 2px #111;
}

.header .title1 {
    top: 22px;
    left: 207px;
    font-size: 40px;
    text-shadow: 2px 2px #111;
}

.header .title2 {
    top: 51px;
    left: 207px;
    font-size: 26px;
    text-shadow: 2px 2px #111;
}

.header .input-wrap {
    width: auto;
    right: 10px;
    bottom: 10px;
    position: absolute;
}

.header .input-wrap input {
    background-color: rgba(28, 28, 28, 0.5);
    border: 1px solid #d5d5d5;
    color: #f5f5f5;
    width: 100px;
    height: 19px;
}

#systemsearch-title {
    font-size: 14px;
    font-family: 'Electrolize', Helvetica;
    text-transform: uppercase;
}

.header .input-wrap input[type=submit] {
    font-size: 14px;
    width: auto;
    height: 22px;
}

.header .input-wrap p {
    font-family: eve_alphabold, Helvetica;
}

.header .input-wrap p span{
    display: inline-block;
    margin-right: 6px;
    font-family: eve_alphabold, Helvetica;
}

.header .input-wrap input, .header .input-wrap span {
    display: inline-block;
    margin-right: 5px;
    font-family: eve_alphabold, Helvetica;
}

.header .input-wrap div {
    display: inline-block;
}

a.eve-login-button, .eve-sso-character {
    padding: 0;
    float: right;
    margin-right: 15px;
}

a.eve-login-button {
    background-image: url(images/EVE_SSO_Login_Buttons_Small_Black.png);
    width: 195px;
    height: 30px;

}

.eve-sso-character {
    background-color: rgba(40, 40, 40, 0.8);
}

.eve-sso-character span, .eve-sso-character img {
    display: inline-block;
}

.eve-sso-character img.character-avatar {
    position: relative;
    width: 30px;
    height: 30px;
}

.eve-sso-character .character-name {
    padding: 0 10px;
    line-height: 30px;
    font-size: 14px;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
    position: relative;
    padding: 30px 15px 15px;
    width: 100%;
    min-height: 500px;
    display: block;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 100%;
    margin: 0 0 0 -15px;
    padding: 0 15px;
    height: 40px;
    position: absolute;
    bottom: 15px;
}

.footer-container {
    background-color: #1C1C1C;
    width: 100%;
    height: 100%;
}

.footer .footer-container p {
    padding: 12px;
    text-align: center;
    font-family: eve_alphabold, Helvetica;
    font-size: 11px;
}

.footer .footer-container p a {
    color: #F5F5F5;
    text-decoration: none;
}

.footer .footer-container p a:hover {
    text-decoration: underline;
}

/* System
-----------------------------------------------------------------------------*/

ul.anomaly-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 10px;
}

ul.anomaly-list a {

}

ul.anomaly-list a:hover {
    text-decoration: underline;
}

.anomaly-wrapper {
    padding: 0 0 0 15px;
}

.anomaly-wrapper .border-block {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 15px;
}

.anomaly-wrapper .anomalies {

}

.system-info, .border-block {
    width: 100%;
    border: 1px solid #dbd5d5;
    margin-right: 15px;
    padding: 0 15px 15px;
}

div.margin-bottom-large {
    margin-bottom: 30px;
}

div.margin-bottom {
    margin-bottom: 15px;
}

div.margin-top {
    margin-top: 15px;
}

.system-info p {
    margin-bottom: 5px;
}

.static-link {
    font-weight: bold;
}

.static-link:hover {
    text-decoration: underline;
}

.statics-h {
    margin-top: 15px;
    margin-bottom: 7px;
}

.system-name {
    text-shadow: 2px 2px #111;
}

.system-label {
    color: #d9d9d9;
}

.text-info {
    color: #e9e9e9;
}

.regular-list li {
    margin-bottom: 5px;
}

.grey-text {
    color: #8e8e8e;
    text-shadow: 1px 1px #000;
}

.arrow-up {
    float: right;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 70px;
    height: 70px;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
}

.start-info {
    position: relative;
}

p.start-text {
    margin-right: 80px;
}

.system-title {
    /*font-style: italic;*/
}

.system-title:hover {
    text-decoration: underline;
}

.content-image {
    width: 100%;
}

.system-kills-table-empty {
    background-color: transparent !important;
}

.kills-victim {
    background-color: #4e0300;
}

.kills-attacker {
    background-color: #002300;
}

.system-effect-description img {
    width: 16px;
    height: 16px;
}

.system-info.class-1,
.system-info.class-2,
.system-info.class-3,
.system-info.class-4,
.system-info.class-5,
.system-info.class-6 {
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 1px #151515;
}

.system-info.class-1 {
    background-image: url(/images/eve/wh1.jpg);
}

.system-info.class-2 {
    background-image: url(/images/eve/wh2.jpg);
}

.system-info.class-3 {
    background-image: url(/images/eve/wh3.jpg);
}

.system-info.class-4 {
    background-image: url(/images/eve/wh4.jpg);
}

.system-info.class-5 {
    background-image: url(/images/eve/wh5.jpg);
}

.system-info.class-6 {
    background-image: url(/images/eve/wh6.jpg);
}

/* COMMENT BLOCK */
.comment-form-wrap {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #e9e9e9;
    border-radius: 0px;
}

.comment-form-wrap button {
    background-color: transparent;
    border: 1px solid #e9e9e9;
    border-radius: 0px;
    padding: 8px 50px;
    width: 100%;
}

.comment-form-wrap .emojionearea {
    margin-bottom: 15px;
}

/*font Awesome http://fontawesome.io*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.comment-list .row {
    margin-bottom: 0px;
}

.comment-list .panel {
    background-color: transparent;
    border-radius: 0px;
    margin-bottom: 5px;
}

.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border:none;
    /*Panel-heading border radius*/
    border-top-right-radius:0px;
    top: 1px;
}
.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    /*Panel-heading border radius*/
    border-top-left-radius:0px;
    right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}
.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        left: 7px;
        top: 10px;
        border-right-color: inherit;
        border-width: 9px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        left: 8px;
        top: 10px;
        border-right-color: rgb(19,19,19);
        border-width: 9px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        right: -10px;
        top: 9px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 10px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        right: -8px;
        top: 10px;
        /*Change for different outline color*/
        border-left-color: #e9e9e9;
        border-width: 10px;
    }

    .col-md-2.avatar-wrap {
        width: 8.66666667%;
    }

    .col-md-10.comment-text-wrap {
        width: 91.33333333%;
    }
}
.comment-list .comment-post {
    margin-top: 6px;
}

.comment-list .thumbnail {
    background-color: transparent;
    padding: 0;
    border: none;
}

@media (min-width: 992px) {
    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        top: 21px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        top: 21px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        top: 20px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        top: 21px;
    }

}

.comment-post p {
    font-size: 12px;
    font-family: 'Sans-serif', Helvetica;
}

.comment-user {
    font-size: 13px;
}

.comment-form-wrap .emojionearea {
    background-color: rgba(220,220,220,0.1);
}

.comment-form-wrap .emojionearea .emojionearea-editor {
    min-height: 4em;
    color: #e9e9e9;
}
.emojionearea-button-close, .emojionearea-button-open {
    background-color: #e9e9e9;
    border-radius: 50%;
}

/*.comment-form-wrap .emojionearea.focused {
    border-color: #e9e9e9;
    outline: 0;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(180, 180, 180, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(180, 180, 180, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(180, 180, 180, 0.6);
}*/

.logged-out button:hover, .logged-out .emojionearea:hover {
    cursor: not-allowed;
}

/* BACKEND */
.table > tbody > tr:nth-of-type(odd) {
    background-color: rgba(220, 220, 220, 0.25);
}

/** system planets */
.system-planets {
    margin-left: 0;
    padding-left: 0;
}
.system-planets li {
    background-repeat: no-repeat;
    padding-left: 53px;
    background-size: 48px;
    min-height: 48px;
    list-style-type: none;
    margin-left: 9px;
}